<html>
<head> <title> Home Page </title> </head>

<body>
<h1>Welcome to the home page!</h1>
<h2>Not much to do here.</h2>

<p> Add one number in <b>the first box </b>, another number in the second box, and hit enter. </p> <br>

<p> Your results will be displayed on another page. Wow! </p>

<form name="input" action='results' method="get">
First number: <input type="number" name="first"><br>
Second number: <input type="number" name="second"><br>
<input type="submit" value="Submit">
</form> 

</body>
</html>